body {
    margin: 0;
}

.header {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.logo {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
}

ul {
    display: flex;
    gap: 10px;
    list-style-type: none;
}

a {
  color: white;
  text-decoration: none; /* no underline */
}